$color-primary: #4c4743;//#18c79c 
$color-success: red;
$color-warning: red;
$color-danger: #ff4949;
$color-info: red;
$color-blue: red;
$color-blue-light: red;
$color-white: #fff;
$color-black: #000;
$color-grey: red;